@model Atlas.UI.Models.ContatoViewModel
<form action="@Url.Action("AddPhone","Contatos",new {id = Model.Id})" method="POST">
    <div class="field">
        <label>Telefone:</label>
        <input id="Numero" name="Numero"/>
    </div>
    <div class="field">
        <label>Operadora:</label>
        <input id="Operadora" name="Operadora"/>
    </div>
    <input type="submit" value="Salvar"/>
</form>

