@model Atlas.UI.Models.ContatoViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Update", "Contatos", FormMethod.Post))
{
    @Html.Partial("_Form", Model)
}

<a href="@Url.Action("AddPhone","Contatos", new {id = Model.Id})" class="openModal" data-method="GET">Incluir Telefone</a>
@Html.Partial("_Telefones",Model.Telefones)

@Html.ActionLink("Voltar","Index","Contatos")