@model IEnumerable<Atlas.UI.Models.ContatoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Novo","New","Contatos")

<ul id="contatos">
    @foreach(var contato in Model)
    {
        <li class="contato">
            @Html.DisplayFor(c => contato)
        </li>
    }
</ul>

