@model Atlas.UI.Models.ContatoViewModel

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using(Html.BeginForm("Create","Contatos",FormMethod.Post))
{
   @Html.Partial("_Form",Model)
}

@Html.ActionLink("Voltar","Index","Contatos")