@model Atlas.UI.Models.ContatoViewModel

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using(Html.BeginForm("Create","Contatos",FormMethod.Post))
{
    <div class="field">
        @Html.LabelFor(c=>c.Nome)
        @Html.TextBoxFor(c=>c.Nome)
    </div>
    <div class="field">
        @Html.LabelFor(c=>c.Apelido)
        @Html.TextBoxFor(c=>c.Apelido)
    </div>
    <input type="submit" value="Salvar"/>
}